@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

:root{
  --white:#fff;
  --black:#000;
  --primary-light: #f9fafb;
  --second-light:#f0f0f0;
  --third-light:rgba(218, 219, 219, 0.5);

  --primary-grey:#777;
  --second-grey:#4f4f4f;
  
  --first-shadow: rgba(0,0,0,0.1);

  --success: rgba(61, 168, 102, 0.6);
  --error: rgba(168, 30, 14, 0.6);

  --first-color:#79B7AA;
}

/* GLOBAL CONFIG RESET */
* {
box-sizing: border-box;
font-size: 1.5vw;
margin: 0;
padding: 0;
}

/* BODY DISPLAY */
body {
font-family: 'Open-Sans', sans-serif;
/* BACKGROUND PATTERN */
  perspective: 1000px;
overflow: hidden;
background-color: var(--first-shadow);

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;

height: 100vh;


}

.container-background{
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(45deg, transparent 20%, black 25%, transparent 15%), 
  linear-gradient(-45deg, transparent 10%, black 25%, transparent 5%), 
  linear-gradient(-45deg, transparent 75%, black 80%, transparent 0),
  radial-gradient(rgb(61, 61, 61) 2px, transparent 0);
  background-size: 30px 30px, 30px 30px;
  filter: invert(0) contrast(100px);
  opacity: 0.05;
}


.container-title{
  /* -webkit-text-stroke: 0.2px var(--second-grey); */
  color: var(--second-grey);
  /* color: transparent; */
  font-size: 4rem;
  padding: 1rem 2rem;
  position: absolute;
  top: 10%;
  text-transform: uppercase;

  transform:
    rotate3d(.5,-.866,0,15deg)
    rotate(1deg);
  transition:
    transform .4s ease,
    box-shadow .4s ease;
  }

.container-title:hover {
  transform:
    rotate3d(0,0,0,0deg)
    rotate(0deg);
}

.row{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 90vw;
  height: 20vh;
}

.container-calculator,
.container-result{
  margin: 0 0.5rem;
  padding: 10px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: transparent;
}

.option{
  position: relative;
  width: 50%;
  height: 80%;
  justify-content: center;
  padding: 0.5rem;
  margin: 0.5rem;
  border: 1px solid var(--second-grey);
  border-radius: .5em;
}

.option span{
  font-size: 300%;
  width: 100%;

}

.container-result .option p:nth-child(2){
  position: absolute;
  bottom: 0;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  margin-bottom: 10px;
}

span{
  font-family: 'Open-Sans', sans-serif !important;
}

.option input{
  width: 40%;
  height: 50%;
  border: 0;
  background-color: transparent;
  border-bottom: 1px solid var(--second-grey);
  position: absolute;
  bottom: 0;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  margin-bottom: 15px;
  text-align: center;
  font-family: inherit;
  font-size: 250%;
  font-weight: bold;
  color: var(--second-grey);
}

.bill{
  width: 70% !important;
}

h2, p, span{
  color: var(--second-grey);
  text-transform: uppercase;
  font-weight: bold;
}

.container-calculator .option{
  width: 100%;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
  cursor: none;
}

input:focus{
  outline: none;
}

.hide{
  visibility: hidden;
}

.glass{
  border-radius: .5em;
  background-color: rgba(0, 0, 0, 0.01);
  border-radius: 16px;
  box-shadow: 
    0 2px 2px rgba(0, 0, 0, 0.2),
    0 4px 10px rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(2.1px);
  -webkit-backdrop-filter: blur(2.1px);
  /* border: 1px solid rgba(0, 0, 0, 0.1); */
  z-index: 2;
}
