@import 'helpers';

/* GLOBAL CONFIG RESET */
* {
  @include reset();
}

select:focus, input:focus, button:focus{
  outline:none;
}

/* -------- BODY DISPLAY --------- */
body {
background-color: $primary-dark;
overflow: hidden;

// @include flexDisplay(center, center, column, wrap)

// height: 100vh;
}

canvas{
  background: $white;
  border: 2px solid black;
  @include absoluteInit_top-left(0, 0);
}

/* -------- TYPE SELECTORS --------- */

/* -------- CLASS & ID --------- */

/* -------- ANIMATIONS --------- */

/* -------- MEDIA QUERY --------- */

@media (max-width: 800px) {
  
}