@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@400;600&family=Poppins:wght@100;500;600;800;900&family=Lobster+Two:ital,wght@0,400;0,700;1,400&display=swap");
/* GLOBAL CONFIG RESET */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

select:focus, input:focus, button:focus {
  outline: none;
}

/* -------- BODY DISPLAY --------- */
body {
  background-color: #222;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 100vh;
}
body::before, body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(85deg, rgba(85, 105, 157, 0.2274509804) 0%, hsla(135, 32%, 41%, 0.7) 40%, hsla(135, 32%, 41%, 0.7) 60%, rgba(85, 105, 157, 0.2274509804) 100%);
  animation: animateBack 7s ease-in-out infinite;
}
body::after {
  background: linear-gradient(170deg, rgba(85, 105, 157, 0.2509803922), rgba(85, 105, 157, 0.2509803922) 10%, transparent 51%, rgba(85, 105, 157, 0.2509803922) 90%, rgba(85, 105, 157, 0.2509803922));
  animation: animateBack 7s ease-in-out infinite;
}

/* -------- TYPE SELECTORS --------- */
/* -------- CLASS & ID --------- */
.container {
  position: relative;
}
.container::before {
  content: "";
  position: absolute;
  bottom: -120px;
  width: 100%;
  height: 60px;
  background: radial-gradient(rgba(0, 0, 0, 0.3), transparent, transparent);
  border-radius: 50%;
}
.container .box {
  position: relative;
  width: 400px;
  height: 400px;
  z-index: 1;
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  animation: animateClock 5s ease-in-out infinite;
  animation-delay: -2.5s;
}
.container .clock {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  background: radial-gradient(transparent, rgba(255, 255, 255, 0.2)), url("./clock.png");
  background-size: cover;
  border-radius: 50%;
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: none;
  border-right: none;
  box-shadow: -10px -10px 20px rgba(255, 255, 255, 0.1), 10px 10px 20px rgba(255, 255, 255, 0.1), 10px 10px 20px rgba(0, 0, 0, 0.1), 0px 40px 50px rgba(0, 0, 0, 0.2);
}
.container .clock::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background: #fff;
  border-radius: 50%;
  z-index: 30;
}
.container .clock .hour,
.container .clock .min,
.container .clock .sec {
  position: absolute;
}
.container .clock .hour,
.container .clock .hr {
  width: 160px;
  height: 160px;
}
.container .clock .min,
.container .clock .mn {
  width: 190px;
  height: 190px;
}
.container .clock .sec,
.container .clock .sc {
  width: 230px;
  height: 230px;
}
.container .clock .hr,
.container .clock .mn,
.container .clock .sc {
  display: flex;
  align-items: center;
  justify-content: top;
  flex-direction: column;
  flex-wrap: wrap;
  position: absolute;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 16px rgba(255, 255, 255, 0.2), inset 0 0 4px rgba(255, 255, 255, 0.2);
  transition-duration: 0.2s;
}
.container .clock .hr::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 80px;
  background: #ff105e;
  z-index: 10;
  border-radius: 6px;
  box-shadow: -2px -4px 8px rgba(0, 0, 0, 0.3);
}
.container .clock .mn::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 90px;
  background: #fff;
  z-index: 10;
  border-radius: 6px;
  box-shadow: -2px -4px 8px rgba(0, 0, 0, 0.3);
}
.container .clock .sc::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 120px;
  background: rgba(255, 255, 255, 0.5);
  z-index: 10;
  border-radius: 6px;
  box-shadow: -2px -4px 8px rgba(0, 0, 0, 0.3);
}

/* -------- ANIMATIONS --------- */
@keyframes animateClock {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes animateBack {
  0% {
    opacity: 1;
    filter: saturate(0);
  }
  50% {
    opacity: 0.5;
    filter: saturate(1);
  }
  100% {
    opacity: 1;
    filter: saturate(0);
  }
}
/* -------- MEDIA QUERY --------- *//*# sourceMappingURL=style.css.map */