@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;600&family=Poppins:wght@100;500;600;800;900&family=Lobster+Two:ital,wght@0,400;0,700;1,400&display=swap');

$font1: 'Poppins', sans-serif;
$font2: 'Lobster Two', cursive;
$white:#fff;
$black:#000;
$primary-light: #f9fafb;
$second-light:#f0f0f0;
$third-light:#DADBDB;

$primary-grey:#777;
$second-grey:#4f4f4f;

$first-shadow: rgba(0,0,0,0.3);

$success: rgba(61, 168, 102, 0.6);
$error: rgba(168, 30, 14, 0.6);

$primary-color:#4c8061;

/* GLOBAL CONFIG RESET */
* {
box-sizing: border-box;
margin: 0;
padding: 0;
font-family: $font1;
// overflow: visible;
}

select:focus, input:focus, button:focus{
  outline:none;
}

/* -------- BODY DISPLAY --------- */
body {
// background-color: var(--primary-light);
// overflow: hidden;

// display: flex;
// flex-direction: row;
// flex-wrap: wrap;
// justify-content: center;
// align-items: center;
// overflow-x: hidden;

// height: 100vh;
}

/* -------- TYPE SELECTORS --------- */

h1, h3{
  display: block;
  width: 100vw;
  font-size: 5vw;
  text-align: center;
  margin: 8px 0 0;
  color: rgb(34, 53, 0);
}

h3{
  color: black;
  font-size: 2vw;
  margin: -8px 0 16px;
}

h2{
  font-weight: 400;

  span{
    color: rebeccapurple;
    font-weight: 600;
  }
}

// canvas{
//   width: 100vw;
//   height: 100vh;
// }

/* -------- CLASS --------- */

/* -------- PSEUDO CLASS --------- */

/* -------- MEDIA QUERY --------- */

@media (max-width: 800px) {
  
}