@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@400;600&family=Poppins:wght@100;500;600;800;900&family=Lobster+Two:ital,wght@0,400;0,700;1,400&display=swap");
/* GLOBAL CONFIG RESET */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

select:focus, input:focus, button:focus {
  outline: none;
}

/* -------- BODY DISPLAY --------- */
body {
  background-image: radial-gradient(#313131 0.5px, transparent 0.5px);
  background-size: 8px 8px;
  background-color: #bfbfc5;
  background: filter-gradient(#bfbfc5, #b1bfc7, horizontal);
  background: background-image(linear-gradient(left top, #bfbfc5 10%, #b1bfc7 45%, #a4c0c9 77%, #9bc0ca 100%));
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: initial;
      flex-wrap: initial;
  height: 100vh;
  gap: 0rem;
}

/* -------- TYPE SELECTORS --------- */
h1 {
  text-transform: uppercase;
  width: 85%;
  font-size: 2rem;
}

/* -------- CLASS & ID --------- */
.container {
  z-index: 5;
  width: 90%;
  height: 80vh;
  border-radius: 2rem;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  border: 4px solid #222;
  -webkit-box-shadow: 2px 2px 1px #222, 4px 4px 1px #222, 6px 6px 1px #222, 8px 8px 1px #222;
          box-shadow: 2px 2px 1px #222, 4px 4px 1px #222, 6px 6px 1px #222, 8px 8px 1px #222;
  background-color: #bfbfc5;
  background: filter-gradient(#bfbfc5, #b1bfc7, horizontal);
  background: background-image(linear-gradient(left top, #bfbfc5 10%, #b1bfc7 45%, #a4c0c9 77%, #9bc0ca 100%));
}

.container .img-container {
  overflow: hidden;
  position: relative;
  width: 100%;
  -webkit-transition-duration: 1.5s;
          transition-duration: 1.5s;
  -webkit-transition-timing-function: cubic-bezier(0.93, 1, 0.32, 1);
          transition-timing-function: cubic-bezier(0.93, 1, 0.32, 1);
}

.container .img-container h2 {
  position: absolute;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 200;
  line-height: 1.75rem;
  bottom: 10%;
  left: 10%;
  opacity: 0;
  -webkit-transition-duration: 1.4s;
          transition-duration: 1.4s;
}

.container .img-container h2 span {
  font-weight: bold;
  font-size: 2rem;
}

.container .img-container:hover {
  width: calc(100% * 10);
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.container .img-container:hover h2 {
  opacity: 1;
}

.container .img-container:hover img {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.container .img-container img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  mix-blend-mode: difference;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

.container .img-container:nth-child(2) h2 {
  bottom: initial;
  top: 10%;
  left: 10%;
}

.container .img-container:nth-child(3) h2 {
  bottom: initial;
  top: 10%;
  right: 10%;
  left: initial;
  text-align: right;
}

.container .img-container:nth-child(4) h2 {
  right: 10%;
  left: initial;
  text-align: right;
}

/* -------- ANIMATIONS --------- */
/* -------- MEDIA QUERY --------- */
/*# sourceMappingURL=style.css.map */